{{> messages }}
{{#if dinoname}}
<h2>{{ dinoname }}'s profile</h2>
<table class="table">
    <tr>
        <td>Name:</td>
        <td>{{ name }}</td>
    </tr>
    <tr>
        <td>Race:</td>
        <td>{{ race }}</td>
    </tr>
    <tr>
        <td>Family:</td>
        <td>{{ family }}</td>
    </tr>
    <tr>
        <td>Food:</td>
        <td>{{ food }}</td>
    </tr>
    <tr>
        <td>Age:</td>
        <td>{{ age }}</td>
    </tr>
</table>
{{/if}}

{{#if loggedIn}}
<p><a href="/users/delete/{{dinoname}}" target="_blank">Delete your profile</a></p>
<p><a href="/users/view/friends" target="_blank">Your friends </a></p>
{{/if}}